# Cache, temp and personal files

var/*
#/.htaccess
*.log
npm-debug.log.*
.sass-cache/
/cache/*
download/*
/log/*
/upload/*
!/upload/index.php
!/upload/axstorelocator-*.json
docs/phpdoc-sf/
composer.lock
tests/Selenium/errorShots/
tests/Selenium/errorDumps/
themes/**/assets/cache/*.css
themes/**/assets/cache/*.js

/admin1189gutynxijazakewz/autoupgrade/*
/admin1189gutynxijazakewz/backups/*
/admin1189gutynxijazakewz/import/*

!/admin1189gutynxijazakewz/import/.htaccess
!/admin1189gutynxijazakewz/import/index.php

themes/*/cache/*

# Config

config/settings.old.php
config/xml/*
!config/xml/index.php
!config/smartyfront.config.inc.php
tests/Selenium/settings.js
themes/*/config/settings_*.json
app/config/parameters.old.yml
app/config/config.php


# Vendors and dependencies
bower_components/
node_modules/
composer.phar
php-cs-fixer
.grunt/*

# Translations and emails templates
translations/cldr/*

# IDE
.idea
.project
.settings
.buildpath
nbproject

# Symfony
/app/cache/*
!app/cache/.gitkeep
!/app/Resources/translations/default
/app/test/cache/*
!app/test/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/web/bundles/
/web/css/
/web/js/
/sitemap/*
!/sitemap/index.php