<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dpdfrance</name>
    <displayName><![CDATA[DPD France]]></displayName>
    <version><![CDATA[6.2.0]]></version>
    <description><![CDATA[Offer DPD's fast and reliable delivery services to your customers]]></description>
    <author><![CDATA[DPD France S.A.S.]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <confirmUninstall><![CDATA[Warning: all the data saved in your database will be deleted. Are you sure you want uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries>fr</limited_countries>
</module>